<div id="topvk">
    <div id="topvk_top"></div>
</div>

<div class="footer-line">
    <div class="align-center">

        <div class="fmenuv2_1">
            <ul>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>" rel="nofollow">Главная</a>
                </li>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.movie %>" rel="nofollow">Фильмы</a>
                </li>

                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.mult %>" rel="nofollow">Мультфильмы</a>
                </li>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.serial %>" rel="nofollow">Сериалы</a>
                </li>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.anime %>" rel="nofollow">Аниме</a>
                </li>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.tv %>" rel="nofollow">Передачи</a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="align-center">
    <div class="copyright">
        <br/>
        Copyright © 2016 CinemaPress ACMS
    </div>

    <table class="tablemenuftr">
        <tr>
            <td>
                Для связи с администрацией: <%- page.email %>
            </td>
        </tr>
    </table>
</div>

<script src="/themes/tyrion/public/js/all.js"></script>

<%- page.codes.footer %>