<div id="topvk">
    <div id="topvk_top"></div>
</div>

<% if (typeof page.adv == 'object' && page.adv.bottom) { %>
<div style="clear: both;"></div>
<div style="text-align: center; margin: 10px auto">
    <%- page.adv.bottom %>
</div>
<div style="clear: both;"></div>
<% } %>

<div class="footer-line">
    <div class="align-center">

        <div class="fmenuv2_1">
            <ul>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>" rel="nofollow">Главная</a>
                </li>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.movie %>" rel="nofollow">Фильмы</a>
                </li>

                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.mult %>" rel="nofollow">Мультфильмы</a>
                </li>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.serial %>" rel="nofollow">Сериалы</a>
                </li>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.anime %>" rel="nofollow">Аниме</a>
                </li>
                <li>
                    <a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.type %>/<%- page.urls.types.tv %>" rel="nofollow">Передачи</a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div style="text-align:right; margin:20px">
    &copy;&nbsp;2017&nbsp;<a href="https://cinemapress.org" target="_blank" style="color:#000">CinemaPress&nbsp;ACMS</a>
</div>
<div style="text-align:right; margin:20px">
    Для связи с администрацией: <%- page.email %>
</div>

<script src="/themes/tyrion/public/js/all.js"></script>

<%- page.codes.footer %>