<div id="topvk">
    <div id="topvk_top"></div>
</div>

<% if (typeof page.adv === 'object' && page.adv.bottom) { %>
    <div style="clear: both;"></div>
    <div style="text-align: center; margin: 10px auto">
        <%- page.adv.bottom %>
    </div>
    <div style="clear: both;"></div>
<% } %>

<div class="footer-line">
    <div class="align-center">

        <div class="fmenuv2_1">
            <ul>
                <li>
                    <a href="/"><%- page.l.home %></a>
                </li>
                <li>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>"><%- page.l.movies %></a>
                </li>

                <li>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>"><%- page.l.cartoons %></a>
                </li>
                <li>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>"><%- page.l.series %></a>
                </li>
                <li>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>"><%- page.l.anime %></a>
                </li>
                <li>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>"><%- page.l.tv %></a>
                </li>
            </ul>
        </div>

    </div>
</div>

<div style="text-align:right; margin:50px 20px 0 0;" class="copy">
    &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.io" target="_blank">CinemaPress</a>
</div>
<div style="text-align:right; margin:30px 20px 0 0;">
    Email: <span id="mylo">Activate JS</span>
    <script>(function(d, i, l, r) {
        d.getElementById(i).innerHTML = l + '@' + r;
      })(window.document, 'mylo', '<%- page.email.split('@')[0] %>', '<%- page.email.split('@')[1] %>');</script>
</div>

<script>
  (function() {
    var dataAllSrc = document.querySelectorAll('[data-cinemapress-src],[data-cinemapress-bg-src]');
    var dataAllSrcCount = (dataAllSrc && dataAllSrc.length) || 0;
    var dataAllSrcCountComp = 0;
    var fSrc = {
      'dataCountImage': function() {
        dataAllSrcCountComp = dataAllSrcCountComp+1;
        if (dataAllSrcCount && dataAllSrcCountComp >= dataAllSrcCount) {
          dataAllSrcCount = 0;
          setTimeout(function() {
            fSrc['checkLoad'](dataAllSrc, 'dataSetImage');
          }, 1);
        }
      },
      'dataSetImage': function(el) {
        var src = el.dataset.cinemapressSrc;
        var bgSrc = el.dataset.cinemapressBgSrc;
        if (!src && !bgSrc) return;
        var img = new Image();
        img.src = src ? src : bgSrc;
        img.onload = function() {
          if (src) { el.src = src; }
          else { el.style.backgroundImage = 'url("' + bgSrc + '")';}
        }
      },
      'checkLoad': function(els, fn) {
        if (!els) return;
        els.forEach(function(src) {
          if (typeof src.complete === 'undefined' || src.complete) {
            fSrc[fn](src);
          } else {
            src.addEventListener('load', function() {
              fSrc[fn](this);
            }, { once: true });
          }
        });
      }
    }
    fSrc['checkLoad'](dataAllSrc, 'dataCountImage');
  })();
</script>

<script src="/themes/<%- page.theme %>/public/js/all.min.js"></script>

<%- page.codes.footer %>