<div style="height:432px;">

    <a href="/" class="logov2_1" style="background:url('/themes/<%- page.theme %>/public/images/logo.svg?v=<%- page.ver %>') no-repeat 0 0;background-size: contain;"><%- page.l.home %></a>

    <div class="searchv2_1">
        <div class="searchv2_1_back">
            <form method="get" name="searchform" action="/<%- page.urls.search %>">
                <input id="story" class="searchv2_2" name="q" value="<%- page.l.movieTitle %>..." onblur="if(this.value==='') this.value='<%- page.l.movieTitle %>...';" onfocus="if(this.value==='<%- page.l.movieTitle %>...') this.value='';" type="text" data-autocomplete="desktop">
                <input type="image" class="searchv2_3" src="/themes/<%- page.theme %>/public/images/spacer.gif" alt="">
                <div class="cinemapress-autocomplete" data-autocomplete="desktop"></div>
            </form>
        </div>
    </div>

    <div class="loginv2_1">

        <div class="continueViewingBlock" style="float:right;display:none">
            <a href="javascript:void(0)" id="continueViewing">
                <img src="/themes/<%- page.theme %>/public/images/play.svg" alt="<%= page.l.continue %>?" title="<%= page.l.continue %>?" style="width: 44px;height: 44px;margin: 0 10px;">
            </a>
        </div>

        <div class="randomMovieMenu">
            <div class="cinemapress-random-menu">
                <a href="/?random" title="<%= page.l.lucky %>">
                    <img src="/themes/<%- page.theme %>/public/images/dice.svg" alt="<%= page.l.lucky %>">
                </a>
            </div>
        </div>

    </div>

    <div class="hmenuv2_1">
        <a href="/" class="btnHome"></a>
        <ul>
            <li>
                <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>"><%- page.l.movies %></a>
            </li>

            <li>
                <a href="/<%- page.urls.type %>/<%- page.urls.types.mult %>"><%- page.l.cartoons %></a>
            </li>
            <li>
                <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>"><%- page.l.series %></a>
            </li>
            <li>
                <a href="/<%- page.urls.type %>/<%- page.urls.types.anime %>"><%- page.l.anime %></a>
            </li>
            <li>
                <a href="/<%- page.urls.type %>/<%- page.urls.types.tv %>"><%- page.l.tv %></a>
            </li>
            <li><a href="javascript:void(0)"><%- page.l.top %></a>
                <ul>
                    <li><a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=imdb-rating-up"><%- page.l.rating %> <%- page.l.imdb %></a></li>
                    <li><a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=kinopoisk-rating-up"><%- page.l.rating %> <%- page.l.kp %></a></li>
                </ul>
            </li>
        </ul>

        <% if (page.social) { %>

            <div class="socbox">
                <% if (page.social.vk) { %>
                    <a class="ftrsocbox_item soch-vk" href="<%- page.social.vk %>" target="_blank"></a>
                <% } %>
                <% if (page.social.facebook) { %>
                    <a class="ftrsocbox_item soch-fb" href="<%- page.social.facebook %>" target="_blank"></a>
                <% } %>
                <% if (page.social.telegram) { %>
                    <a class="ftrsocbox_item soch-tw" href="<%- page.social.telegram %>" target="_blank"></a>
                <% } %>
                <% if (page.social.youtube) { %>
                    <a class="ftrsocbox_item soch-yt" href="<%- page.social.youtube %>" target="_blank"></a>
                <% } %>
                <% if (page.social.instagram) { %>
                    <a class="ftrsocbox_item soch-ig" href="<%- page.social.instagram %>" target="_blank"></a>
                <% } %>
                <% if (page.social.twitter) { %>
                    <a class="ftrsocbox_item soch-od" href="<%- page.social.twitter %>" target="_blank"></a>
                <% } %>
            </div>

        <% } %>

    </div>

    <% if (typeof slider === 'object' && slider.length) { %>

        <div class="bf_top_films">

            <div class="bf_top_films_bl">
                <div class="bf_top_films_bl_title_back bf_top_films_bl_title bf_top_films_bl_title_back_1">
                    <div class="bf_top_films_bl_title_back_ic bf_top_films_bl_title_back_ic_1"></div>
                    <%- page.l.top %>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>" class="bf_top_films_bl_li_more bf_top_films_bl_li_more_1" rel="nofollow"><%- page.l.more %></a>
                </div>
                <div class="bf_top_films_bl_li bf_top_films_bl_li_1">
                    <ul>
                        <% slider.slice(0,6).forEach(function (movie) { %>
                            <li>
                                <a href="<%- movie.url %>"><% if (movie.title.length >= 35) { %><%- movie.title.substr(0, 35).trim() %>... <%- movie.year %><% } else { %><%= movie.title %> <%- movie.year %><% } %></a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>

            <div class="bf_top_films_bl">
                <div class="bf_top_films_bl_title_back bf_top_films_bl_title bf_top_films_bl_title_back_2">
                    <div class="bf_top_films_bl_title_back_ic bf_top_films_bl_title_back_ic_2"></div>
                    <%- page.l.popular %>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=imdb-vote-up" class="bf_top_films_bl_li_more bf_top_films_bl_li_more_2" rel="nofollow"><%- page.l.more %></a>
                </div>
                <div class="bf_top_films_bl_li bf_top_films_bl_li_2">
                    <ul class="bf_top_films_bl_li_2">
                        <% slider.slice(6,12).forEach(function (movie) { %>
                            <li>
                                <a href="<%- movie.url %>"><% if (movie.title.length >= 35) { %><%- movie.title.substr(0, 35).trim() %>... <%- movie.year %><% } else { %><%= movie.title %> <%- movie.year %><% } %></a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>

            <div class="bf_top_films_bl bf_top_films_bl_last">
                <div class="bf_top_films_bl_title_back bf_top_films_bl_title bf_top_films_bl_title_back_3">
                    <div class="bf_top_films_bl_title_back_ic bf_top_films_bl_title_back_ic_3"></div>
                    <%- page.l.premieres %>
                    <% page.urls.years.slice(0,1).forEach(function(year) { %>
                        <a href="<%- year.url %>" class="bf_top_films_bl_li_more bf_top_films_bl_li_more_3" rel="nofollow"><%- page.l.more %></a>
                    <% }); %>
                </div>
                <div class="bf_top_films_bl_li bf_top_films_bl_li_3">
                    <ul class="bf_top_films_bl_li_3">
                        <% slider.slice(12,18).forEach(function (movie) { %>
                            <li>
                                <a href="<%- movie.url %>"><% if (movie.title.length >= 35) { %><%- movie.title.substr(0, 35).trim() %>... <%- movie.year %><% } else { %><%= movie.title %> <%- movie.year %><% } %></a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>

        </div>

    <% } %>

</div>

<% if (typeof page.adv === 'object' && page.adv.top) { %>
    <div style="clear: both;"></div>
    <div style="text-align: center; margin: 10px auto">
        <%- page.adv.top %>
    </div>
    <div style="clear: both;"></div>
<% } %>