<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name=viewport content="width=device-width, initial-scale=1">

<title><%= page.title %></title>

<meta name="description" content="<%= page.description %>">

<link rel="shortcut icon" href="/themes/<%- page.theme %>/public/favicon.ico?v=<%- page.ver %>">

<link href="/themes/<%- page.theme %>/public/css/all.min.css?v=<%- page.ver %>" type="text/css" rel="stylesheet">

<%- page.codes.head %>