<div class="bl1">
    <div class="bl2">
        <div class="bloc_nav bloc_nav_nav">Навигация</div>
        <div class="bl_nav">
            <ul style="margin-bottom: 20px;">
                <li><a href="/">Главная страница</a></li>
                <li class="sub new_films"><a rel="nofollow">Новинки фильмов</a>
                    <ul class="sub_m">
                        <% page.urls.years.slice(0,6).forEach(function(year) { %>
                        <li>
                            <a href="<%- year.url %>">
                                Новинки фильмов <%- year.title %>
                            </a>
                        </li>
                        <% }); %>
                    </ul>
                </li>

                <li><a href="/<%- page.urls.genre %>">Все жанры</a></li>
                <li><a href="/<%- page.urls.year %>">Все годы</a></li>
                <li><a href="/<%- page.urls.country %>">Все страны</a></li>
                <li><a href="/<%- page.urls.actor %>">Все актеры</a></li>
                <li><a href="/<%- page.urls.director %>">Все режиссеры</a></li>
            </ul>

            <div class="clearfix"></div>

            <a href="/<%- page.urls.content %>?tag=Коллекция" class="bl_groups"></a>

        </div>
    </div>
</div>

<% if (typeof soon === 'object' && soon.length) { %>

<div class="bl1_1">
    <div class="bl2">
        <div class="bloc_nav bloc_nav_scoro">Скоро</div>
        <div class="bloc2">
            <div id="content2">
                <ul id="slides2">

                    <% soon.forEach(function (movie) { %>

                    <li>
                        <span class="date_treler">
                            <span class="title">
                                <a href="<%- movie.url %>">
                                    <%- movie.title %>
                                </a>
                            </span>
                            <br>
                            <span>
                                В прокате с <%- movie.premiere %>
                            </span>
                        </span>
                        <a href="<%- movie.url %>">
                            <img src="<%- movie.poster %>" alt="<%- movie.title %>">
                        </a>
                    </li>

                    <% }); %>

                </ul>
            </div>
        </div>
    </div>
</div>

<% } %>

<% if (typeof news === 'object' && news.length) { %>
<% news.forEach(function (content) { %>
<div style="float: left; width: 100%;">
    <div style="margin: 0; padding: 10px 15px 10px 0">
        <a href="<%- content.url %>" class="cinemapress-news">
            <img src="<%- content.image %>" class="cinemapress-news-image" alt="<%- content.title %>">
            <div class="cinemapress-news-title">
                <%- content.title %>
            </div>
        </a>
    </div>
</div>
<% }); %>
<div style="clear: both"></div>
<% } %>

<% if (typeof page.adv === 'object' && page.adv.left) { %>
<div style="clear: both;"></div>
<div style="text-align: center; margin: 10px auto">
    <%- page.adv.left %>
</div>
<div style="clear: both;"></div>
<% } %>

<% if (typeof recent === 'object' && recent.length) { %>
<% recent.slice(0, Math.ceil(recent.length/2)).forEach(function (comment) { %>
<div style="margin: 10px 10px 0 0;">
    <div class="cinemapress-recent" style="background: #7BB232; border: 0; color: #fff">
        <div class="cinemapress-recent-head">
            <% if (comment.avatar) { %>
            <div class="cinemapress-recent-head-avatar" style="background: #fff; border: 5px #fff solid;">
                <img src="<%- comment.avatar %>" alt="<%- comment.user %>">
            </div>
            <% } %>
            <div class="cinemapress-recent-head-meta">
                <div>
                    <a href="<%- comment.url %>" style="color: #fff"><%- comment.title %></a>
                </div>
                <div>
                        <span style="color: #fff">
                            <%- comment.user %>
                        </span>
                    <span style="color: #fff">
                            сказал(а)
                        </span>
                    <span style="color: #fff">
                            <%- comment.date %>
                        </span>
                </div>
            </div>
        </div>
        <div class="cinemapress-recent-comment" style="background: #fff; color: #000">
            <%- comment.comment %>
        </div>
    </div>
</div>
<% }); %>
<% } %>