<div class="bl1">
    <div class="bl2">
        <div class="bloc_nav bloc_nav_nav"><%- page.l.navigation %></div>
        <div class="bl_nav">
            <ul style="margin-bottom: 20px;">
                <li><a href="/"><%- page.l.home %></a></li>
                <li class="sub new_films"><a rel="nofollow"><%- page.l.premieres %></a>
                    <ul class="sub_m">
                        <% page.urls.years.slice(0, 6).forEach(function(year) { %>
                            <li>
                                <a href="<%- year.url %>">
                                    <%- page.l.movies %> <%- year.title %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </li>

                <li><a href="/<%- page.urls.genre %>"><%- page.l.allGenres %></a></li>
                <li><a href="/<%- page.urls.year %>"><%- page.l.allYears %></a></li>
                <li><a href="/<%- page.urls.country %>"><%- page.l.allCountries %></a></li>
                <li><a href="/<%- page.urls.actor %>"><%- page.l.allActors %></a></li>
                <li><a href="/<%- page.urls.director %>"><%- page.l.allDirectors %></a></li>
            </ul>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<% if (typeof soon === 'object' && soon.length) { %>

    <div class="bl1_1">
        <div class="bl2">
            <div class="bloc_nav bloc_nav_scoro"><%- page.l.soon %></div>
            <div class="bloc2">
                <div id="content2">
                    <ul id="slides2">

                        <% soon.forEach(function (movie) { %>

                            <li>
                        <span class="date_treler">
                            <span class="title">
                                <a href="<%- movie.url %>">
                                    <%= movie.title %>
                                </a>
                            </span>
                            <br>
                            <span>
                                <%- page.l.premiere %>  <%- movie.premiere %>
                            </span>
                        </span>
                                <a href="<%- movie.url %>">
                                    <img src="<%- movie.poster %>" alt="<%= movie.title %>">
                                </a>
                            </li>

                        <% }); %>

                    </ul>
                </div>
            </div>
        </div>
    </div>

<% } %>

<% if (typeof news === 'object' && news.length) { %>
    <% news.forEach(function (content) { %>
        <div style="float: left; width: 100%;">
            <div style="margin: 0; padding: 10px 15px 10px 0">
                <a href="<%- content.url %>" class="cinemapress-news"
                   style="background-image:url('<%- content.image %>');">
                    <div class="cinemapress-news-title">
                        <%= content.title %>
                    </div>
                </a>
            </div>
        </div>
    <% }); %>
    <div style="clear: both"></div>
<% } %>

<% if (typeof page.adv === 'object' && page.adv.left) { %>
    <div style="clear: both;"></div>
    <div style="text-align: center; margin: 10px auto">
        <%- page.adv.left %>
    </div>
    <div style="clear: both;"></div>
<% } %>

<% if (typeof recent === 'object' && recent.length) { %>
    <% recent.slice(0, Math.ceil(recent.length / 2)).forEach(function (comment) { %>
        <div style="margin: 10px 10px 0 0;">
            <div class="cinemapress-comment">
                <div class="cinemapress-comment-head">
                    <div class="cinemapress-comment-head-avatar">
                        <img src="<%- comment.avatar %>" alt="<%= comment.user %>">
                    </div>
                    <div class="cinemapress-comment-head-meta">
                        <div class="cinemapress-comment-head-meta-title">
                            <a href="<%- comment.url %>" title="<%= comment.title %>"><%= comment.title %></a>
                        </div>
                        <div class="cinemapress-comment-user" data-comment-id="<%- comment.id %>">
                            <div class="cinemapress-comment-user-name">
                                <%- comment.user %>
                            </div>
                            <div class="cinemapress-comment-user-said">
                                <%- page.l.said %>
                            </div>
                            <div class="cinemapress-comment-user-date">
                                <%- comment.date %>
                            </div>
                            <div class="cinemapress-comment-user-link">
                                <a href="<%- comment.url %>#c<%- comment.id %>" title="<%= comment.title %>">#</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cinemapress-comment-bg cinemapress-comment-radius">
                    <%- comment.comment %>
                </div>
            </div>
        </div>
    <% }); %>
<% } %>