<div class="bl1_2">
    <div class="bl2">
        <div class="bloc_nav1 bloc_nav1_cat">Категории</div>
        <div class="bl_top">
            <ul>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/боевик">Боевики</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/комедия">Комедии</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/семейный">Семейные</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/фантастика">Фантастика</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/приключения">Приключения</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/история">Исторические</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/документальный">Документальные</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/мультфильм">Мультфильмы</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/мелодрама">Мелодрама</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/ток-шоу">Ток-Шоу</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/детектив">Детективы</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/триллер">Триллеры</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/криминал">Криминал</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/военный">Военные</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/фэнтези">Фэнтези</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/драма">Драма</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/музыка">Музыкальные</a>
                </li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/спорт">Спорт</a></li>
                <li><a href="<%- page.protocol %><%- page.domain %>/<%- page.urls.genre %>/ужасы">Ужасы</a></li>
            </ul>
        </div>
    </div>
</div>

<% if (page.social) { %>

<% if (page.social.vk) { %>

<div class="bl_rek">
    <a href="<%- page.social.vk %>" target="_blank" class="bl_vk"></a>
</div>

<% } %>

<% } %>

<% if (typeof page.adv == 'object' && page.adv.right) { %>
<div style="clear: both;"></div>
<div style="text-align: center; margin: 10px auto">
    <%- page.adv.right %>
</div>
<div style="clear: both;"></div>
<% } %>