<div class="bl1_2">
    <div class="bl2">
        <div class="bloc_nav1 bloc_nav1_cat"><%- page.l.menu %></div>
        <div class="bl_top">
            <ul>
                <% page.urls.genres.forEach(function(genre) { %>
                    <li>
                        <a href="<%- genre.url %>">
                            <%- genre.title %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<% if (typeof page.adv === 'object' && page.adv.right) { %>
    <div style="clear: both;"></div>
    <div style="text-align: center; margin: 10px auto">
        <%- page.adv.right %>
    </div>
    <div style="clear: both;"></div>
<% } %>

<% if (typeof recent === 'object' && recent.length) { %>
    <% recent.slice(Math.ceil(recent.length/2), recent.length).forEach(function (comment) { %>
        <div style="margin: 10px 0;">
            <div class="cinemapress-comment">
                <div class="cinemapress-comment-head">
                    <div class="cinemapress-comment-head-avatar">
                        <img src="<%- comment.avatar %>" alt="<%= comment.user %>">
                    </div>
                    <div class="cinemapress-comment-head-meta">
                        <div class="cinemapress-comment-head-meta-title">
                            <a href="<%- comment.url %>" title="<%= comment.title %>"><%= comment.title %></a>
                        </div>
                        <div class="cinemapress-comment-user" data-comment-id="<%- comment.id %>">
                            <div class="cinemapress-comment-user-name">
                                <%- comment.user %>
                            </div><div class="cinemapress-comment-user-said">
                                <%- page.l.said %>
                            </div><div class="cinemapress-comment-user-date">
                                <%- comment.date %>
                            </div><div class="cinemapress-comment-user-link">
                                <a href="<%- comment.url %>#c<%- comment.id %>" title="<%= comment.title %>">#</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cinemapress-comment-bg cinemapress-comment-radius">
                    <%- comment.comment %>
                </div>
            </div>
        </div>
    <% }); %>
<% } %>