<div class="bl1_2">
    <div class="bl2">
        <div class="bloc_nav1 bloc_nav1_cat"><%- page.l.menu %></div>
        <div class="bl_top">
            <ul>
                <% page.urls.genres.forEach(function(genre) { %>
                <li>
                    <a href="<%- genre.url %>">
                        <%- genre.title %>
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<% if (typeof page.adv === 'object' && page.adv.right) { %>
<div style="clear: both;"></div>
<div style="text-align: center; margin: 10px auto">
    <%- page.adv.right %>
</div>
<div style="clear: both;"></div>
<% } %>

<% if (typeof recent === 'object' && recent.length) { %>
<% recent.slice(Math.ceil(recent.length/2), recent.length).forEach(function (comment) { %>
<div style="margin: 10px 0;">
    <div class="cinemapress-recent" style="background: #4595BE; border: 0; color: #fff">
        <div class="cinemapress-recent-head">
            <% if (comment.avatar) { %>
            <div class="cinemapress-recent-head-avatar" style="background: #fff; border: 5px #fff solid;">
                <img src="<%- comment.avatar %>" alt="<%- comment.user %>">
            </div>
            <% } %>
            <div class="cinemapress-recent-head-meta">
                <div>
                    <a href="<%- comment.url %>" style="color: #fff"><%= comment.title %></a>
                </div>
                <div>
                        <span style="color: #fff">
                            <%- comment.user %>
                        </span>
                    <span style="color: #fff">
                            <%- page.l.said %>
                        </span>
                    <span style="color: #fff">
                            <%- comment.date %>
                        </span>
                </div>
            </div>
        </div>
        <div class="cinemapress-recent-comment" style="background: #fff; color: #000">
            <%- comment.comment %>
        </div>
    </div>
</div>
<% }); %>
<% } %>