<!doctype html>
<html lang="<%- page.language %>"
      prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">
<head>

    <%- include('includes/head.ejs'); -%>

</head>
<body class="class_body">

<div id="hv2_1">

    <div class="brand_back"></div>
    <div class="brand_back_wrap"></div>

    <div id="hv2_2">

        <div id="hv2_4">

            <div id="wrapper">

                <div id="header">

                    <%- include('includes/header.ejs'); -%>

                </div>

                <div id="container">

                    <div class="con1 ">
                        <div class="con2">
                            <div class="con3">
                                <div class="con4">
                                    <div class="con5">

                                        <div id="left">

                                            <%- include('includes/left.ejs'); -%>

                                        </div>

                                        <div id="center" class="aviable_showfull">

                                            <div class="bl_seo_txt_h bl_seo_txt_h_categ_sb">
                                                <div class="bl_seo_txt_bl_2">
                                                    <div class="tit_speedbar">
                                                        <span id="cinemapress-speedbar">
                                                            <span>
                                                                <a href="/" rel="nofollow">
                                                                    <%- page.l.home %>
                                                                </a>
                                                            </span>
                                                            <% if (movie.genre_url) { %>
                                                                <span class="separ"></span>
                                                                <span>
                                                                <%- movie.genre_url %>
                                                            </span>
                                                            <% } %>
                                                            <span class="separ"></span>
                                                            <span>
                                                                <a href="<%- movie.url %>">
                                                                    <%= movie.title %>
                                                                </a>
                                                            </span>
                                                            <span class="separ"></span>
                                                            <span>
                                                                <%- page.l.online %>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="cinemapress-content">

                                                <div class="sh0">
                                                    <div class="sh1">
                                                        <div class="sh2">

                                                            <div class="sh17">
                                                                <div class="sh18">
                                                                    <%- movie.year %>
                                                                </div>
                                                            </div>

                                                            <h1><%- page.h1 %></h1>

                                                        </div>
                                                    </div>

                                                    <div class="sh15">

                                                        <div class="clearfix"></div>

                                                        <% if (page.seo) { %>
                                                            <div class="fulldisc">
                                                                <div style="display:inline;">
                                                                    <%- page.seo %>
                                                                </div>
                                                            </div>
                                                        <% } %>

                                                        <div style="clear:both"></div>

                                                        <div class="episodesListBlock"
                                                             style="display: none; margin: 10px auto">
                                                            <h3><%= movie.title %> <%- page.l.episodes %></h3>
                                                            <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                                                        </div>

                                                        <h2><%- page.l.online %> <%= movie.title %> <%- movie.year %></h2>

                                                        <br/>

                                                        <% if (typeof page.adv === 'object' && page.adv.over) { %>
                                                            <div style="text-align: center; margin: 10px auto">
                                                                <%- page.adv.over %>
                                                            </div>
                                                        <% } %>

                                                        <div class="section">
                                                            <ul class="tabz">
                                                                <li class="current">
                                                                    <%- page.l.online %>
                                                                </li>
                                                                <% if (page.urls.movies.trailer) { %>
                                                                    <li>
                                                                        <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>">
                                                                            <%- page.l.trailer %>
                                                                        </a>
                                                                    </li>
                                                                <% } %>
                                                            </ul>
                                                            <div>
                                                                <div id="cinemapress-player" class="box visible"
                                                                     style="border-radius: 10px;">
                                                                    <% if (page.player) { %>
                                                                        <%- page.player %>
                                                                    <% } %>
                                                                </div>
                                                            </div>

                                                            <div class="line_rating_n">
                                                                <div class="watchLaterBlock" style="display: none;">
                                                                    <a href="javascript:void(0)" id="watchLater"
                                                                       class="watchlater">
                                                                        <%- page.l.later %>
                                                                    </a>
                                                                </div>
                                                                <div class="social-likes" data-counters="no">
                                                                    <div class="facebook"
                                                                         title="<%= page.l.facebook %>"></div>
                                                                    <div class="twitter"
                                                                         title="<%= page.l.twitter %>"></div>
                                                                    <div class="vkontakte"
                                                                         title="<%= page.l.vk %>"></div>
                                                                </div>
                                                            </div>

                                                            <div style="clear:both;"></div>

                                                            <% if (movie.pictures.length) { %>
                                                                <div style="margin: 10px auto; text-align: center;"
                                                                     id="lightgallery">
                                                                    <% movie.pictures.forEach(function (picture) { %>
                                                                        <% var ahref = page.urls.movies.picture
                                                                                ? movie.url + '/' + page.urls.movies.picture
                                                                                : picture.picture_big %>
                                                                        <a href="<%- ahref %>"><img
                                                                                    src="<%- picture.picture_min %>"
                                                                                    alt="<%= movie.title %> <%- movie.year %> <%- page.l.picture %>"
                                                                                    title="<%= movie.title %>"></a>
                                                                    <% }); %>
                                                                </div>
                                                                <% if (!page.urls.movies.picture) { %>
                                                                    <link href="/themes/default/public/desktop/css/lightgallery.min.css"
                                                                          rel="stylesheet">
                                                                    <script src="/themes/default/public/desktop/js/lightgallery.min.js"></script>
                                                                    <script>lightGallery(document.getElementById('lightgallery'));</script>
                                                                <% } %>
                                                            <% } %>

                                                            <div style="clear:both;"></div>

                                                            <% if (page.urls.movies.download) { %>
                                                                <div class="tor_down">
                                                                    <a href="<%- movie.url %>/<%- page.urls.movies.download %>"
                                                                       rel="nofollow" class="bl_s_nh">
                                                                        <h3><%- page.l.download %></h3>
                                                                    </a>
                                                                    <div class="tor_title">
                                                                        <a href="<%- movie.url %>/<%- page.urls.movies.download %>">torrent</a>
                                                                    </div>
                                                                </div>
                                                            <% } %>

                                                            <div style="clear:both;"></div>

                                                        </div>

                                                        <div class="clearfix"></div>

                                                        <% if (typeof page.adv === 'object' && page.adv.under) { %>
                                                            <div style="text-align: center; margin: 10px auto">
                                                                <%- page.adv.under %>
                                                            </div>
                                                        <% } %>

                                                        <% if (typeof contents === 'object' && contents.length) { %>
                                                            <div style="clear: both"></div>
                                                            <% contents.forEach(function (content) { %>
                                                                <div class="cinemapress-news-block">
                                                                    <div style="margin: 0; padding: 10px">
                                                                        <a href="<%- content.url %>"
                                                                           class="cinemapress-news"
                                                                           style="background-image:url('<%- content.image %>');">
                                                                            <div class="cinemapress-news-title">
                                                                                <%= content.title %>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            <% }); %>
                                                            <div style="clear: both"></div>
                                                        <% } %>

                                                    </div>

                                                </div>

                                                <% if (typeof movies === 'object') {
                                                        for (var type in movies) {
                                                if (movies.hasOwnProperty(type) && movies[type].length) {
                                                movies[type].forEach(function (category) { %>
                                                    <div class="relatnews_tit">
                                                        <div class="titlereln">
                                                            <h4>
                                                                <%- category.name %>
                                                            </h4>
                                                        </div>
                                                        <div class="randomMovieRelated">
                                                            <div class="cinemapress-random-related"
                                                                 onclick="window.location.href='<%- (category.url && category.url.indexOf('?') + 1 ? category.url + '&random=' : category.url + '?random=') %><%- Math.random() %>'"
                                                                 title="<%= page.l.random %>">
                                                                <img src="/themes/<%- page.theme %>/public/images/dice.svg"
                                                                     alt="<%= page.l.random %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="relatnews">
                                                        <div class="slider1">
                                                            <% if (category.movies.length) {
                                                            category.movies.forEach(function (movie) { %>
                                                                <div class="slide">
                                                                    <div class="imgbox">
                                                                        <div class="img">
                                                                            <a href="<%- movie.url %>" rel="nofollow">
                                                                                <img src="<%- movie.poster %>"
                                                                                     alt="<%= movie.title %> <%- movie.year %>"/>
                                                                            </a>
                                                                        </div>
                                                                        <div class="reltexta">
                                                                            <a href="<%- movie.url %>"><%= movie.title %> <%- movie.year %></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            <% }); } %>
                                                        </div>
                                                    </div>
                                                <% }); } } } %>

                                            </div>

                                            <div class="clearfix"></div>

                                            <% if (page.comments) { %>
                                                <%- page.comments %>
                                            <% } else { %>
                                                <div id="cinemapress-comments">
                                                    <h3 class="cinemapress-comment-h3">
                                                        <%- page.l.comments %>
                                                        <span class="cinemapress-comment-count cinemapress-comment-bg-color"><%- comments && comments.count || '0' %></span>
                                                    </h3>
                                                    <% if (typeof comments === 'object' && typeof comments.config === 'object') { %>
                                                        <% if (comments.config.star_rating) { %>
                                                            <div class="cinemapress-comment-star">
                                                                <div class="cinemapress-comment-star-down"
                                                                     data-comment-star="1"></div>
                                                                <div class="cinemapress-comment-star-award"
                                                                     data-comment-star="3"></div>
                                                                <div class="cinemapress-comment-star-up"
                                                                     data-comment-star="2"></div>
                                                            </div>
                                                        <% } %>
                                                        <div class="cinemapress-comment-form">
                                                            <% if (comments.config.bb_codes) { %>
                                                                <div class="cinemapress-comment-form-bb">
                                                                    <span class="cinemapress-comment-bg cinemapress-comment-form-bb-b"
                                                                          data-bb-code="b"><%- page.l.bold.toLowerCase() %></span>
                                                                    <span class="cinemapress-comment-bg cinemapress-comment-form-bb-i"
                                                                          data-bb-code="i"><%- page.l.italic.toLowerCase() %></span>
                                                                    <span class="cinemapress-comment-bg cinemapress-comment-form-bb-spoiler"
                                                                          data-bb-code="spoiler">👻 <%- page.l.spoiler.toLowerCase() %></span>
                                                                    <span class="cinemapress-comment-bg cinemapress-comment-form-bb-search"
                                                                          data-bb-code="search">🔍 <%- page.l.search.toLowerCase() %></span>
                                                                    <input class="cinemapress-comment-bg cinemapress-comment-form-anonymous"
                                                                           name="comment_anonymous" type="text"
                                                                           placeholder="<%- page.l.username %>">
                                                                </div>
                                                            <% } %>
                                                            <div>
                                                                <div class="cinemapress-comment-textarea-div">
                                                                    <textarea name="comment_text"
                                                                              class="cinemapress-comment-bg cinemapress-comment-textarea"
                                                                              placeholder="<%- page.l.comment %>"
                                                                              autocomplete="off" autocapitalize="off"
                                                                              spellcheck="false"></textarea>
                                                                    <div class="cinemapress-comment-form-bg"></div>
                                                                    <div class="cinemapress-comment-button-bg hover-off"
                                                                         data-comment-type="submit">
                                                                        <span class="cinemapress-comment-button-text"></span>
                                                                    </div>
                                                                </div>
                                                                <% if (comments.config.question) { %>
                                                                    <div class="cinemapress-comment-bg cinemapress-comment-question"
                                                                         style="display: none">
                                                                        <div class="cinemapress-comment-question-text"><%- comments.config.question %></div>
                                                                        <div class="cinemapress-comment-question-answer">
                                                                            <% if (comments.config.question_yes) { %>
                                                                                <span class="cinemapress-comment-question-answer-yes"><%- page.l.yes %></span>
                                                                            <% } %>
                                                                            <% if (comments.config.question_not) { %>
                                                                                <span class="cinemapress-comment-question-answer-not"><%- page.l.not %></span>
                                                                            <% } %>
                                                                        </div>
                                                                        <% if (comments.config.question_yes) { %>
                                                                            <div class="cinemapress-comment-question-text-yes"
                                                                                 style="display: none">
                                                                                <%- comments.config.question_yes %>
                                                                            </div>
                                                                        <% } %>
                                                                        <% if (comments.config.question_not) { %>
                                                                            <div class="cinemapress-comment-question-text-not"
                                                                                 style="display: none">
                                                                                <%- comments.config.question_not %>
                                                                            </div>
                                                                        <% } %>
                                                                        <div class="cinemapress-comment-question-bg"></div>
                                                                        <% if (comments.config.question_poster) { %>
                                                                            <div class="cinemapress-comment-question-bg-poster"
                                                                                 style="background-image:url('<%- comments.config.question_poster %>')"></div>
                                                                        <% } %>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                            <div style="font-size:8px;text-align:right;opacity:.2">This
                                                                site is protected by reCAPTCHA and the Google <a
                                                                        href="https://policies.google.com/privacy"
                                                                        style="font-size:8px" target="_blank">Privacy
                                                                    Policy</a> and <a
                                                                        href="https://policies.google.com/terms"
                                                                        style="font-size:8px" target="_blank">Terms of
                                                                    Service</a> apply.
                                                            </div>
                                                        </div>
                                                        <%- comments.indexer ? comments.indexer : '' %>
                                                        <% if (comments.list && comments.list.length) { %>
                                                            <% comments.list.forEach(function (comment) { %>
                                                                <div class="cinemapress-comment"
                                                                     id="c<%- comment.id %>">
                                                                    <div class="cinemapress-comment-head">
                                                                        <div class="cinemapress-comment-head-avatar">
                                                                            <img src="<%- comment.avatar %>"
                                                                                 alt="<%= comment.user %>">
                                                                        </div>
                                                                        <% if (comments.config.star_rating) { %>
                                                                            <% if (comment.star === 1) { %>
                                                                                <div class="cinemapress-comment-head-star">
                                                                                    <div class="cinemapress-comment-star-down"></div>
                                                                                </div>
                                                                            <% } else if (comment.star === 2) { %>
                                                                                <div class="cinemapress-comment-head-star">
                                                                                    <div class="cinemapress-comment-star-up"></div>
                                                                                </div>
                                                                            <% } else if (comment.star === 3) { %>
                                                                                <div class="cinemapress-comment-head-star">
                                                                                    <div class="cinemapress-comment-star-award"></div>
                                                                                </div>
                                                                            <% } %>
                                                                        <% } %>
                                                                        <div class="cinemapress-comment-head-meta">
                                                                            <div class="cinemapress-comment-head-meta-vote">
                                                        <span class="cinemapress-comment-like" data-comment-type="like"
                                                              data-comment-id="<%- comment.id %>"
                                                              title="<%= page.l.like %>">
                                                            <span class="cinemapress-comment-like-icon"></span>
                                                            <span class="cinemapress-comment-like-number"><%- comment.like %></span>
                                                        </span>
                                                                                <span class="cinemapress-comment-dislike"
                                                                                      data-comment-type="dislike"
                                                                                      data-comment-id="<%- comment.id %>"
                                                                                      title="<%= page.l.dislike %>">
                                                            <span class="cinemapress-comment-dislike-number"><%- comment.dislike %></span>
                                                            <span class="cinemapress-comment-dislike-icon"></span>
                                                        </span>
                                                                                <span class="cinemapress-comment-reply"
                                                                                      data-reply-id="<%- comment.id %>"
                                                                                      data-bb-code="b"
                                                                                      data-bb-value="<%- comment.user %>"
                                                                                      title="<%= page.l.reply %>">
                                                            <span class="cinemapress-comment-reply-icon"></span>
                                                        </span>
                                                                            </div>
                                                                            <div class="cinemapress-comment-user"
                                                                                 data-comment-id="<%- comment.id %>">
                                                                                <div class="cinemapress-comment-user-name">
                                                                                    <%- comment.user %>
                                                                                </div>
                                                                                <div class="cinemapress-comment-user-said">
                                                                                    <%- page.l.said %>
                                                                                </div>
                                                                                <div class="cinemapress-comment-user-date">
                                                                                    <%- comment.date %>
                                                                                </div>
                                                                                <div class="cinemapress-comment-user-link">
                                                                                    <a href="<%- comment.url %>#c<%- comment.id %>">#</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cinemapress-comment-bg cinemapress-comment-radius">
                                                                        <%- comment.comment %>
                                                                    </div>
                                                                    <% if (comment.admin) { %>
                                                                        <div class="cinemapress-comment-admin">
                                                                            <div class="cinemapress-comment-bg cinemapress-comment-admin-text">
                                                                                <%- comment.admin %>
                                                                            </div>
                                                                            <div class="cinemapress-comment-admin-bg"></div>
                                                                        </div>
                                                                    <% } %>
                                                                </div>
                                                            <% }); %>
                                                        <% } %>
                                                    <% } %>
                                                    <div class="cinemapress-comment-arrow">
                                                        <% if (comments && comments.prev) { %>
                                                            <div class="cinemapress-prev-comments"
                                                                 onclick="window.location.href='?page=<%- comments.prev %>#cinemapress-comments'"></div>
                                                        <% } %>
                                                        <% if (comments && comments.next) { %>
                                                            <div class="cinemapress-next-comments"
                                                                 onclick="window.location.href='?page=<%- comments.next %>#cinemapress-comments'"></div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            <% } %>

                                            <div class="clearfix"></div>

                                        </div>

                                        <div id="right">

                                            <%- include('includes/right.ejs'); -%>

                                        </div>

                                        <div class="clear"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="clear"></div>

                <div class="recentlyViewedBlock" style="margin: 25px; display: none;">
                    <div><%- page.l.watched %>:</div>
                    <div id="recentlyViewed"></div>
                </div>

                <div class="clear"></div>

            </div>

            <div id="footer">

                <%- include('includes/footer.ejs'); -%>

            </div>

        </div>

    </div>

</div>

</body>
</html>